<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cricket Score Card</title>
  <style>
    *{
      padding: 0;
      margin: 0;
    }
    body{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .main{
      width: 500px;
    }

    .date-holder{
      background-color: rebeccapurple;
    }

    .hero{
      background-color: red;
    }

    .result{
      display: flex;
      background-color: yellow;
      justify-content: center;
    }



    
  </style>
</head>
<body>
<div class="main">
  <div class="date-holder">
    <p>20-25 Jun</p>
  </div>

  <div class="hero">

    

    <div class="flag">
      <img src="../assets/cricket-scorecard/ind-flag.png" />
      <p class="flag-name">India</p>
    </div>

    <div class="flag">
      <img src="../assets/cricket-scorecard/eng-flag.png"/>
      <p class="flag-name">England</p>
    </div>

    <div class="score">
      <div class="score-first-row">
      <p>471</p>
      <p>1st</p>
      <p>465</p>
      </div>
      <div class="score-second-row">
        <p>364</p>
        <p>2nd</p>
        <p>373/5</p>
      </div>
    </div>
  </div>
   <div class="result">
      <p>ENG won by 5 wickets (84 balls left)</p>
      <p>Test 1 of 5 (ENG leads 1-0) &#8729 Day 5 &#8729 Session 3</p>
    </div>
  </div>

  
</body>
</html>