<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gradient-button</title>

  <style>
    html, body{
      margin: 0;
      padding: 0;
    }
    body{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(49, 47, 47);
    }
    button{
      padding: 20px 40px;
      font-size: 20px;
      background-color: black;
      color: white;
      border: 3px solid;
    
      border-image: linear-gradient(115deg, #eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83) 1;
    }
  </style>
</head>
<body>
  <button>
    Start Coding!
  </button>
</body>
</html>